{% extends "layouts/base_layout.html" %}

{% block title %}Dashboard example - 2 column{% endblock %}

{% block layout %}

    <div id="columns">
        <ul id="column1" class="column">
        {% for gadget in dashboard_data.1 %}
            {{ gadget }}
        {% endfor %}
        </ul>
        <ul id="column2" class="column">
        {% for gadget in dashboard_data.2 %}
            {{ gadget }}
        {% endfor %}
        </ul>
        <ul id="column3" class="column">
        {% for gadget in dashboard_data.3 %}
            {{ gadget }}
        {% endfor %}
        </ul>
        
    </div>
    
    <div style="clear:both;"/>

    <div id="columns" style="display:inline;"> 
    <ul id="column4" class="column" style="width:33.3%"> 
    {% for gadget in dashboard_data.4 %}
        {{ gadget }}
    {% endfor %}
    </ul>
    <ul id="column5" class="column" style="width:66.6%">
    {% for gadget in dashboard_data.5 %}
        {{ gadget }}
    {% endfor %}
    </ul>
    
</div>
{% endblock %}