
<li class="gadget {{ gadget.get_colour }}{{ gadget.get_collapsed_style }}" id="{{ gadget.make_html_id }}" dbid="{{ gadget.uuid }}">
    <div class="gadget-head">
        <h3>{{ gadget.title }}</h3>
    </div>
    <div class="gadget-content">
    <iframe id="iframe{{ gadget.make_html_id }}" width="100%" id="the_iframe" onLoad="changeHeight(this);" src="{% url dashboard_view_gadget uuid=gadget.uuid %}" scrolling="NO" height="1" frameborder="0">
    An iframe capable browser is 
    required to view this web site.
    </iframe>
    </div>
</li>
